*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    .content{
        display: flex;
        align-items: flex-start;
    }
    
}

@media  (max-width: 800px) {
    .content {
        flex-direction: column;
    }
}
